.galeria {
    background: rgba(243, 243, 232, 0.952);
    border-radius: 4px;
    padding: 16px;
    box-shadow: 1px 1px 12px 0px rgba(0, 0, 0, 0.322);
    text-align: center;
}

.foto {
    width: 100%;

}

.nombre {
    font-weight: 700;
    font-size: 15px;
}

/*Estas se aplican al contenido de layout/galeria.scss*/