.galeria {
    background-color: #fff;
    border-radius: 4px;
    padding: 16px;
    box-shadow: 1px 1px 12px 0px rgba(0, 0, 0, 0.322);
    text-align: center;
}

.foto {
    width: 100%;

}

.nombre {
    font-weight: 700;
    font-size: 20px;
}

