.galeria {
    background: $color--white;
    border-radius: 4px;
    padding: 16px;
    box-shadow: $box-sombra;
    text-align: center;
}

.foto {
    width: 100%;

}

.nombre {
    font-weight: 700;
    font-size: 15px;
}

/*Estas se aplican al contenido de layout/galeria.scss*/


.caja-sombra {
    box-shadow: $box-sombra;
}