$color--orange: #ffa500;
$color--white: #ffffff;
$color--dark: #000000;


$box-sombra: 1px 1px 12px 1px;


@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600&family=Montserrat:wght@300;400;700&family=Open+Sans&family=Varela&display=swap");

$font-navbar: 'Cairo', sans-serif;
$font-default: 'Montserrat', sans-serif;
$font-tittle: 'Open Sans', sans-serif;
$font-varela: 'Varela', sans-serif;