/**Formulario**/
.form--color {
    /*color fondo*/
    background: #8092a1;
    background: -webkit-linear-gradient(to right, #c3cacc, #8092a1);
    background: linear-gradient(to right, #c3cacc, #8092a1);
    /*sombra*/
    -webkit-box-shadow: 13px 11px 37px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 13px 11px 37px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 13px 11px 37px -9px rgba(0, 0, 0, 0.75);
}