/**ENCABEZADO**/
header {
    background: #000000;
    background: -webkit-linear-gradient(to right, #434343, #000000);
    background: linear-gradient(to right, #434343, #000000);
    padding: 25px;
    margin-top: 0;

    & div {
        padding: 10px;
        text-align: center;
    }

    & img {
        border-radius: 100%;
        max-width: 100%;
        transition: 3s;
        box-shadow: $box-sombra;
    }
}