/**SOMBRAS EN TODAS LAS IMAGENES**/
img {
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
}

.img-novedad{
    max-width: 100%;
}