/**Seccion Index: Novedades**/
.section--novedades {
    background: #ADA996;
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    text-align: center;
    margin-bottom: 0;
    
    box-shadow: $box-sombra;


    &_titulo {
        text-decoration: underline;
        margin: 20px 0 30px 0;
        font-weight: bolder;
        font-size: 35px;
    }

    & div {
        margin-bottom: 4rem;
        padding: 25px;

        & h4 {
            text-transform: uppercase;
            text-decoration: underline;
            font-size: 20px;
            margin-bottom: 20px;
        }

        & p {
            margin-bottom: 20px;
        }

        & iframe {
            box-shadow: $box-sombra;


        }
    }

    &_separador {
        height: 0.5px;
        margin: 0 5em 3em 5em;
        color: rgb(2, 3, 2);
    }
}

/*Seccion Index: Informacion*/
.bg-fondo {
    background: #000000;
    background: -webkit-linear-gradient(to right, #434343, #000000);
    background: linear-gradient(to right, #434343, #000000);
}

/**Seccion CONTACTO**/

.section--contacto img {
    width: 50%;
}

.grilla--nosotros_main {
    h1 {
        margin-top: 65px;
    }

    &--contenido {
        background: #8e9eab;
        background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);
        background: linear-gradient(to right, #eef2f3, #8e9eab);
        /*sombra*/
        box-shadow: $box-sombra;



    }
}

.seccion--informacion {
    box-shadow: $box-sombra;
}

.seccion--famosos {
    box-shadow: $box-sombra;
    background: #000000;
    background: -webkit-linear-gradient(to right, #434343, #000000);
    background: linear-gradient(to right, #434343, #000000);
}